* {
    margin: 0;
}

body {
    background-color: lightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

hr {
    border: none;
    border-top: 2px solid black;
    width: 50%;
    margin: 8px 0px;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    padding: 3px 8px;
    height: 400px;
    width: 500px;  
    border-radius: 10px;  
}

.btn-register, .btn-signin, .submit {
    text-decoration: none;
    color: black;
    font-size: 25px;
    border: 1px solid black;
    padding: 5px 16px;
    background-color: lightblue;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.submit {
    font-size: 18px;
}

input {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    width: 275px;
}